.tp-2{
    top: 2rem;
}

.hg-60-vh{
    height: 60vh;
}

.hg-10-vh{
    height: 10vh;
}

.footer-bg-img{
    height: 30vh;
    background: url(../images/emily-jones-L6WsJ1WS2k8-unsplash.jpg)  center / cover no-repeat;
    margin-top: -100px;
}